*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------HEADER----------------- */
header{
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
}

.upgrade{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upgrade img{
  width: 10%;
  margin-left: 10px;
}

.upgrade button{
  height: 40px;
  margin-right: 10px;
}


/* -----------------MAIN----------------- */
main{
  margin-top: 80px;
  display: flex;
}

/* ASIDE BOX */
aside{
  background-color: #000;
  width: 200px;
  height: calc( 100vh - 160px);
  color: white;
}

aside div{
  margin-left: 10px;
}

aside img{
  width: 20px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: calc( 100% - 200px );
}


/* -----------------FOOTER----------------- */
footer{
  width: 100%;
  background-color: #323232;
  position: fixed;
  bottom: 0;
}

.player{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp{
  height: 50px;
  width: 200px;
  background-color: gray;
}
