*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #000;
}

/* -----------------HEADER----------------- */
header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.upgrade{
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade button{
  height: 40px;
  margin-right: 20px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 11px;
  font-weight: bold;
}


/* -----------------MAIN----------------- */
main{
  display: flex;
  background-color: #141922;
  height: calc( 100vh - 80px );
}

/* ASIDE BOX */
aside{
  background-color: #000;
  width: 200px;
  height: calc( 100vh - 80px);
  font-weight: bold;
  font-size: 12px;
  color: rgba( 255 , 255, 255 , 0.5);
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 10;
}

@media screen and (max-width: 767px){
  aside{
    height: calc( 100vh - 160px );
  }
}

.spotify-logo{
  width: 130px;
  margin-top: 20px;
  margin-left: 20px;
}

aside div{
  margin-bottom: 20px;
}

aside h4{
  text-transform: uppercase;
  padding-left: 20px;
}

aside li{
  list-style: none;
  padding: 5px 0 5px 20px;
}

aside li:not(.border-left-green), aside h4{
  margin-left: 5px;
}

aside span{
  padding: 6px 8px;
  background-color: white;
  color: black;
  margin-right: 5px;
  display: inline-block;
}

aside img{
  width: 20px;
  margin-right: 5px;
  vertical-align: bottom;
}

aside a{
  text-decoration: none;
  color: rgba( 255 , 255, 255 , 0.5);
}

.clr-wht, .clr-wht a{
  color: white;
}

.border-left-green{
  border-left: 2px solid #6df719;
}

.user{
  margin: auto 0 0 25px;
}

.user p{
  display: inline-block;
}

.download-img{
  width: 15px;
}

.user-img{
  background-color: gray;
  border-radius: 50%;
  width: 25px;
  vertical-align: middle;
}

.user-name{
  color: white;
}

.hr::after{
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 15px;
  display: block;
}

/* SECTION SONG */
.albums{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: calc( 100% - 200px );
  color: white;
  padding: 20px;
  overflow: auto;
  padding-top: 80px;
}

.albums > div:not(:first-child){
  margin-bottom: 40px;
}

.navigazione{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px;
}

.navigazione li{
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 10px;
}

.navigazione ul li:first-child::after{
  content: "";
  display: block;
  border-bottom: 2px solid #6df719;
  width: 25px;
  margin: 5px auto 0;
}

.album-square, .album-circle{
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.albums h3, .albums p{
  width: 100%;
}

.albums h3{
  font-size: 24px;
  margin-bottom: 10px
}

.albums h5{
  font-size: 16px;
  margin: 10px 0;
}

.albums p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.album-square img, .album-circle img{
  width: 200px;
  height: 200px;
}

.album-square > div, .album-circle > div{
  text-align: center;
  margin-top: 20px;
}

.album-square > div:not(:last-child), .album-circle > div:not(:last-child){
  margin-right: 20px;
}

.album-circle img{

}


/* -----------------FOOTER----------------- */
footer{
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
}

.player{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER LEFT */
.brano{
  display: flex;
  justify-content: space-between;
  color: rgba( 255, 255, 255, 0.5);
  width: 200px;
}

.brano > div:not(:last-child){
  display: flex;
}

.brano > div > div{
  align-self: center;
  margin-left: 10px;
}

.brano img{
  width: 50px;
  margin-left: 20px;
}

.brano h6{
  color: white;
}

.brano i{
  margin-right: 5px;
}

.brano > div:last-child{
  align-self: center;
}

/* FOOTER CENTER */
.riproduzione{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.riproduzione i{
  font-size: 14px;
  margin: 10px;
  vertical-align: middle;
}

.riproduzione i:nth-child(3){
  font-size: 25px;
}

.tempo{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tempo small{
  font-weight: bold;
  margin: 0 10px;
}

.barra-tempo{
  width: 80%;
  height: 5px;
  background-color: #505050;
  border-radius: 5px;
}

.barra-tempo div{
  background-color: #fff;
  width: 18%;
  height: 5px;
  border-radius: 5px;
}

/* FOOTER RIGHT */
.volume{
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume > *{
  margin-left: 10px;
  font-size: 12px;
  color: white;
}

.barra-volume{
  width: 50%;
  height: 5px;
  background-color: #505050;
  border-radius: 5px;
  margin-right: 20px;
}

.barra-volume div{
  background-color: #fff;
  width: 40%;
  height: 5px;
  border-radius: 5px;
}

/* FOOTER MEDIA QUERY */
@media screen and (max-width: 767px){
  .player{
    height: 160px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .brano{
    width: 180px;
    margin: auto;
  }

  .riproduzione{
    width: 90%;
    order: 2;
  }

  .volume{
    width: 140px;
    margin: auto;
  }
}
